
* {
    font-family: 'Roboto Mono', monospace;
}
body {
    text-align: center;
}
div {
    display: inline;
}

.plan {
    background-color: #FF764E;
}
.learn {
    background-color: #5ED3EB;
}
.involved {
    background-color: #FFCD69;
}
h1 {
    font-family: 'Chelsea Market', cursive;
}
.footer {
    background-color: #F9E7DC;
}
.second-section {
    background-color: #DDB9A3;
}
.header-img img {
    border-radius: 50%;
    height: 15%;
    width: 15%;
}
.first-section {
    width: 70%;
}
.footer-img img {
    width: 100%;
    
}
